<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PuzzleAM</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="nav flex-column">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <img src="/lib/heroicons/home.svg" alt="Home icon" /> Home
            </NavLink>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="/gallery">
                        <img src="/lib/heroicons/image.svg" alt="Gallery icon" /> Gallery
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </nav>
    </div>

