@page "/puzzlegame"
@rendermode InteractiveServer

<PageTitle>Puzzle Game</PageTitle>

<select @bind="selectedPieces" class="form-select">
    @foreach (var option in PieceOptions)
    {
        <option value="@option">@option</option>
    }
</select>

<InputFile OnChange="OnInputFileChange" class="btn btn-primary" />

<div id="puzzleContainer"></div>

<script src="puzzle.js"></script>
