@page "/puzzlegame"
@rendermode InteractiveServer

<PageTitle>Puzzle Game</PageTitle>

<InputFile OnChange="OnInputFileChange" class="btn btn-primary" />

<div id="puzzleContainer"></div>

<script src="puzzle.js"></script>
